em {
  vertical-align: middle;
}

.insult {
  display: flex;
  justify-content: space-between;
}

.FixedHeightContainer
{

  height: 120px;
  width:300px;
  padding:3px;

}
.Content
{
  height:100px;
   overflow:auto;  ;
}

.chatName {
  display: inline-block;
}

.joinContainer {
  position: relative;


}

.join {
  position:absolute;
  bottom:0;
}

.pettyNumb {
  color: red;
  font-size: 46px;
}

.grayscale {-webkit-filter: grayscale(100%);filter: grayscale(100%);}