.card-header {
  display: flex;
  flex-direction: row;
  justify-content: center
}

.icon {
  margin-left:auto;
}


 img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 300px;
}

