.grudges {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap
}


.dash-card  {
  position: fixed;
  width: 600px;
  height: 200px;
  left: 50%;
  top: 0%;
  margin-left: -300px; /*half the width*/
}